recipe-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-card a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
.favorite-btn {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.favorited {
  background-color: red;
  color: white;
}
